@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --formbricks-background: #F8FAFC;
  /* Brand Colors */
  --formbricks-brand: #038178;

  /* Fill Colors */
  --formbricks-fill-primary: #fefefe;
  --formbricks-fill-secondary: #0f172a;
  --formbricks-fill-disabled: #e0e0e0;

  /* Label Colors */
  --formbricks-label-primary: #0f172a;
  --formbricks-label-secondary: #384258;
  --formbricks-label-disabled: #bdbdbd;

  /* Border Colors */
  --formbricks-border-primary: #e0e0e0;
  --formbricks-border-secondary: #0f172a;
  --formbricks-border-disabled: #ececec;

  /* Functional Colors */
  --formbricks-focus: #1982fc;
  --formbricks-error: #d13a3a;

  /* Brand Color Grades */
  --formbricks-50: #e0f9f8;
  --formbricks-100: #b3f0ed;
  --formbricks-200: #80e6e1;
  --formbricks-300: #4ddcd5;
  --formbricks-400: #26d3ca;
  --formbricks-500: #00C4B8; /* new base brand color */
  --formbricks-600: #00a89e;
  --formbricks-700: #008c84;
  --formbricks-800: #00706a;
  --formbricks-950: #003f3c;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --sidebar: 0 0% 100%;
    --sidebar-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-ring: 215 20.2% 65.1%;
    
    --brand: #00C4B8;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --sidebar: 224 71% 4%;
    --sidebar-foreground: 213 31% 91%;
    --sidebar-border: 216 34% 17%;
    --sidebar-accent: 216 34% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-ring: 216 34% 17%;

    /* Brand Colors */
    --formbricks-brand: #038178;

    /* Fill Colors */
    --formbricks-fill-primary: #0f172a;
    --formbricks-fill-secondary: #e0e0e0;
    --formbricks-fill-disabled: #394258;

    /* Label Colors */
    --formbricks-label-primary: #fefefe;
    --formbricks-label-secondary: #f2f2f2;
    --formbricks-label-disabled: #bdbdbd;

    /* Border Colors */
    --formbricks-border-primary: #394258;
    --formbricks-border-secondary: #e0e0e0;
    --formbricks-border-disabled: #394258;

    /* Functional Colors */
    --formbricks-focus: #1982fc;
    --formbricks-error: #d13a3a;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
}

.filter-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.filter-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.filter-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
}

input:focus {
  --tw-ring-color: none;
  --tw-ring-offset-color: none;
  --tw-ring-shadow: 0 0 #000 !important;
  box-shadow: none;
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* Hide the clear button for input type "search" */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-ms-reveal {
  display: none;
}

.surveyFilterDropdown[data-state="open"] {
  background-color: #0f172a;
  color: white;
}
.surveyFilterDropdown:hover * {
  background-color: #0f172a;
  color: white;
}

input[type="range"]::-webkit-slider-thumb {
  background: #0f172a;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
}

.matchWidth {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
